body{
    font: Helvetica,sans-serif,18px/1.5;
    background-color: #EDEDED;
}
h2{
    font: Helvetica,sans-serif,18px/1.5;
    text-decoration-line: underline;
    padding: 20px;
    margin: 10px,5px;
    letter-spacing: 3px;
    background-color: #3B516B;
    color: floralwhite;
    border-radius: 10px;
}

li{
    margin-left: 20px;
}